DATABASE_URL=postgres://sandbox_user:sandbox_password@localhost:5432/sql_teacher
DATABASE_ADMIN_URL=postgres://admin:admin_password@localhost:5432/sql_teacher
NEXT_PUBLIC_APP_URL=http://localhost:3002
